.post {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 1rem 0;
  border: 1px solid lightgray;
}

.post__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0.5rem;
}
.post__header h4 {
  padding: 0 1rem;
}
.post__header > .MuiSvgIcon-root {
  margin-left: auto;
  padding: 0 1rem;
  cursor: pointer;
}

.post__body img {
  width: 100%;
  object-fit: contain;
}
.post__body__row2 {
  display: flex;
  padding: 0 1rem;
  margin-top: 0.5rem;
}
.post__body__row2 > .MuiSvgIcon-root {
  margin-right: 0.5rem;
  cursor: pointer;
  color: gray;
}
.post__bookmarkIcon {
  margin-left: auto;
}

.post_comments {
  color: gray;
}

.comment {
  display: flex;
  align-items: center;
}
.comment p,
.comment h5 {
  margin-left: 1rem;
}

.post__bottom {
  padding: 0 1rem;
  font-size: smaller;
}

.post_commentSection {
  display: flex;
}

.post_commentSection input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  outline-width: 0;
  margin-left: 0.5rem;
}

.post_commentSection button {
  border: none;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  color: rgb(0, 132, 255);
}

@media screen and (max-width: 768px) {
  .post {
    width: 100vw;
  }
}
